

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #eee;
}

.breadcrumb {
  margin-bottom: 20px;
  background-color: #eee;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1;
  color: inherit;
}

.filter {
  display: inline-block;
  vertical-align:top;
  margin: 0 2px 15px 2px;
}


